/*
 * Dark stylesheet for TeamSpeak 3 client
 * Special file for macOS, loaded in addition to global dark.qss stylesheet
 *
 * Copyright (c) 2020 random-host.tv
 */

/* macOS specific fixes */
QComboBox,
QRadioButton {
    font-size: 12pt;
}
